@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

canvas {
  height: 100%;
}
#mainpage {
  height: 100vh;
  z-index: 100;
  padding-top: 12vh;
}

#headerlumo {
  max-height: 12vh;
  position: fixed;
  z-index: 200;
}
.toggle-label {
  width: 4vw;
  height: 2vw;
  background-color: #750d57;
  border-radius: 2vw;
  position: relative;
  transition: background-color 0.2s;
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 0.25vw;
  left: 0.25vw;
  width: 1.5vw;
  height: 1.5vw;
  background-color: white;
  border-radius: 1.5vw;
  transition: transform 0.3s ease-in-out;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #34c759;
}

.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(2vw);
}

.menu-outer {
  height: 100vh; /* Adjusted to viewport height */
  width: 100vw;
  position: relative; /* Added */
  display: flex;
  overflow-y: scroll; /* Added */
}
.menu-main {
  margin: 20px;
  min-height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.foodToggle {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.smallFoodToggle {
  display: none;
}
.about-us {
  margin: 20px;
  height: 100vh; /* Adjusted to viewport height */
  width: 100vw;
  position: relative; /* Added */
  overflow-y: scroll; /* Added */
}

.about-us-inner {
  min-height: 230vh;
  position: absolute; /* Added */
  width: 100%; /* Added */
  top: 0; /* Added */
  left: 0; /* Added */
}
.contact-us {
  margin: 20px;
  height: 100vh; /* Adjusted to viewport height */
  width: 100vw;
  position: relative; /* Added */
  overflow-y: scroll; /* Added */
}

.contact-us-inner {
  min-height: 80vh;
  position: absolute; /* Added */
  width: 100%; /* Added */
  top: 0; /* Added */
  left: 0; /* Added */
}

.contactInput {
  width: 40vw !important;
  margin-top: 5vh !important;
}

.about-us-section {
  height: 70vh;
  width: 100vw;
  padding: 10vh;
}

.foodMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-right: 5vw;
}
.normalMenu {
  display: flex;
  flex-direction: row;
}
.foodSection {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
  padding-left: 20px;
  border-left: 2px solid;

  /* Hide scrollbar for Chrome, Safari, and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* For Edge */
  -ms-overflow-style: none;
}
.secTitile {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: fit-content;
  margin-left: 20px;
  font-weight: bold;
}
.about-image {
  height: auto;
  max-width: 100%;
  display: block;
}

/* in your CSS file (e.g., threeLumo.css) */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 7s linear infinite;
}

.loadingPage {
  width: 20%;
}

@media (max-width: 767px) {
  #mainpage {
    padding-top: 10vh;
    z-index: 100;
  }
  .loadingPage {
    width: 70%;
  }
  .about-us-inner {
    min-height: fit-content;
  }
  .about-us-section {
    height: fit-content;
    padding: 30px;
    padding-bottom: 20vh;
  }
  .about-image {
    max-width: 100%; /* Add this line */
    object-fit: cover; /* Optional: for maintaining aspect ratio */
    margin-bottom: 20px;
  }
  .toggle-label {
    width: 12vw;
    height: 6vw;
    border-radius: 6vw;
  }
  .toggle-label:before {
    content: "";

    top: 0.75vw;
    left: 0.75vw;
    width: 4.5vw;
    height: 4.5vw;

    border-radius: 4.5vw;
  }
  .toggle-checkbox:checked + .toggle-label:before {
    transform: translateX(6vw);
  }
  .foodMenu {
    flex-direction: column;
  }
  .normalMenu {
    display: flex;
    flex-direction: row;
    padding-bottom: 5vh;
  }
  .contactInput {
    width: 80vw !important;
    margin-top: 5vh !important;
  }
  .foodToggle {
    display: none;
  }
  .smallFoodToggle {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-main-tall {
    height: 195vh !important;
  }

  .menu-main-short {
    height: 125vh !important;
  }
  .about-us-inner {
    padding-bottom: 30vh;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
