@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

canvas {
  height: 100%;
}
#mainpage {
  height: 100vh;
  z-index: 100;
  padding-top: 12vh;
}

#headerlumo {
  max-height: 12vh;
  position: fixed;
  z-index: 200;
}

/* in your CSS file (e.g., threeLumo.css) */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 7s linear infinite;
}

.loadingPage {
  width: 20%;
}

@media (max-width: 767px) {
  #mainpage {
    padding-top: 10vh;
    z-index: 100;
  }
  .loadingPage {
    width: 70%;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
